@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  ol, ul, menu {
    list-style: -moz-ethiopic-numeric;
    margin: 0;
    padding: 0;
  }
}
