@use "tailwindcss";


.landing-page {
  color-scheme: light;
  --header-position: sticky;
  --content-offset: 116px;
  --header-height: 180px;
  --header-mb: -116px;
  --header-top: 0px;
  --avatar-top: 0px;
  --avatar-image-transform: translate3d(0rem, 0, 0) scale(1);
  --avatar-border-transform: translate3d(-0.2222222222222222rem, 0, 0) scale(1.7777777777777777);
  --avatar-border-opacity: 0;
  background-color: var(--color-black);
}

.pull-indicator {
  position: absolute;
  top: 86px;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-lighter);
  transition: transform 0.2s ease-in-out;
  z-index: 10;
}

.pull-indicator svg {
  transition: transform 0.2s ease-in-out;
}

.pull-indicator.flip svg {
  transform: rotate(180deg);
}
